<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GrabilityTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BD0412A1F539C5A00EA29F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD0413E1F539C5A00EA29F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD041491F539C5A00EA29F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
